.jumbotron{
    background-image: linear-gradient(120deg, #FFE74C, #FF5964, #35A7FF);
}

.navbar{
    background-color: #e4cc37;
	border-top: 7px solid #fde44b;
	border-image: linear-gradient(120deg, #FFE74C, #FF5964, #35A7FF);
}

.navbar:first-child:before {
	content:'';
	position:absolute;
	width:100%;
	height:7px;
	background: linear-gradient(120deg, #FFE74C, #FF5964, #35A7FF);
	top:-7px;
	left:0;
}

/*.btn-color{
    background-image: linear-gradient(120deg, #7768AE, #3BB273);
}*/
