

.jumbotron{
    background-image: linear-gradient(120deg, #FFE74C, #FF5964, #35A7FF);
}

.navbar{
    background-color: #E4CC37;
}

/*.btn-color{
    background-image: linear-gradient(120deg, #7768AE, #3BB273);
}*/