{# views/ogloszenia/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% include 'page/alerts.html.twig' %}
	<div class="container-fluid">
		<h1>Statystyki ogłoszenia</h1>
		<h3>Nazwa</h3>


		WYKRES
	</div>
{% endblock %}
