{# views/wallet/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	{% include 'page/alerts.html.twig' %}
	<div class="container-fluid">
		<h1>Historia transakcji</h1>

		<hr/>
	</div>
{% endblock %}
